@import '@fontsource-variable/darker-grotesque';
@import 'tailwindcss';
@plugin "@tailwindcss/typography";

@theme {
  --font-sans: 'Darker Grotesque Variable', sans-serif;

  /* Custom color palette */
  --color-blue-50: #eff6ff;
  --color-blue-100: #dbeafe;
  --color-blue-200: #bfdbfe;
  --color-blue-300: #93c5fd;
  --color-blue-400: #60a5fa;
  --color-blue-500: #3b82f6;
  --color-blue-600: #2563eb;
  --color-blue-700: #1d4ed8;
  --color-blue-800: #1e40af;
  --color-blue-900: #1e3a8a;

  --color-green-400: #4ade80;
  --color-green-500: #22c55e;
  --color-green-600: #16a34a;
  --color-green-main-btn: #2aa81a;

  --color-gray-50: #f9fafb;
  --color-gray-100: #f3f4f6;
  --color-gray-200: #e5e7eb;
  --color-gray-300: #d1d5db;
  --color-gray-400: #9ca3af;
  --color-gray-500: #6b7280;
  --color-gray-600: #4b5563;
  --color-gray-700: #374151;
  --color-gray-800: #1f2937;
  --color-gray-900: #111827;

  --color-slate-700: #334155;
  --color-slate-800: #1e293b;

  --color-red-200: #fecaca;

  --color-yellow-400: #facc15;

  /* Custom border color */
  --color-border-custom: #cedce5;

  /* Custom text color */
  --color-text-custom: #003055;

  /* Text body color */
  --color-text-body: #374151;
  /* Use it for numbering h2 headings */
  --color-heading-number: #cfdce5;
}

@layer base {
  html {
    overflow-y: scroll; /* Always show vertical scrollbar */
    scroll-behavior: smooth;
  }

  body {
    margin: 0;
    min-height: 100vh;
    @apply font-sans text-lg font-normal;
    color: var(--color-text-custom);
  }
}

@layer components {
}

@layer utilities {
  /* Custom border utility */
  .border-custom {
    border-color: var(--color-border-custom);
  }

  /* WhatsApp button utility */
  .bg-main-btn {
    background-color: var(--color-green-main-btn);
  }
}
