---
export interface Props {
  text: string;
  icon?: any;
  class?: string;
}

const { text, icon: Icon, class: className = '' } = Astro.props;
---

<button
  class={`h-14 w-54 px-7 rounded-4xl flex items-center bg-main-btn text-[28px] leading-[36px] font-medium text-white transition-colors hover:opacity-90 ${className}`}
>
  {Icon && <Icon class="mr-4 h-8 w-8" />}
  <span class="mt-[-4px]">{text}</span>
</button>
